*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
    font-family: var(--font-sans-serif);
    font-weight: bold;
    font-size: var(--légende);
    color: white;
    background-color: var(--fond-1);
    text-align: end;
  }
  
  h1 {
    font-family: var(--font-sans-serif);
    font-size: var(--titre-jaune);
    font-weight: bold;
    color: var(--jaune-du-site);
  }
  
  h2 {
    text-align: center;
    font-family: var(--font-sans-serif);
    font-weight: bold;
    font-size: var(--h2);
    color: var(--jaune-du-site);
  }
  
  h3 {
    font-family: var(--font-serif);
    font-weight: italic;
    font-size: var(--texte-eb-garamond);
    color: white;
  }

  h4 {
    font-family: var(--font-serif);
    font-weight: normal;
    font-size: 1,22em;
    color: white;
  }

  h5 {
    font-family: var(--font-serif);
    font-weight: normal;
    font-size: var(--texte-eb-garamond);
    color: white;
    margin-left: 30px;
    margin-right: 90px;
    text-align: left;
    line-height: 124,2%;
  }

  h6 {
    font-family: var(--font-sans-serif);
    font-weight: normal;
    font-size: 0,78em;
    color: white;
  }

  header {
      font-family: var(--font-sans-serif);
      font-weight: bold;
      font-size: 1,22em;
      color: #707070;
  }

  footer {
      font-family: var(--font-sans-serif);
      font-weight: normal;
      font-size: 0,78em;
      color: #DCDCDC;
  }

  button {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
  }
  
  /* Pour enlever l'apparence par défaut des listes */
  .list-unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .container {
    padding-left: var(--space3x);
    padding-right: var(--space3x);
  }
  
  /* Bug IOS
  => L'overflow doit être appliqué sur l'élément body ET html
  pour faire disparaître le scroll sur safari IOS */
  .noscroll,
  .noscroll body {
    overflow: hidden;
  }
  
  /* Technique reprise de Bootsrap pour rendre le contenu 
  uniquement accessible aux lecteurs vocaux (sr = screen reader) */
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }